aiohttp
click
Cython
fastparquet
flet==0.23.2
flet-core==0.23.2
kaleido
kiteconnect
numpy
pandas
pendulum
plotly
py-vollib-vectorized
py_vollib
PyAlgoTrade @ git+https://git@github.com/NagarajuGunda/pyalgotrade@master
pyotp
python-dotenv
python-telegram-bot
pytz
PyYAML
pyzmq
requests
selenium
setuptools
six
SQLAlchemy
streamlit
streamlit-aggrid
streamlit-lightweight-charts
streamlit-plotly-events
talipp
webdriver-manager
websocket-client
wheel
yfinance
sentry_sdk
tabulate
quantstats
pytest
pytest-asyncio
